<!-- 
 COMP228 - Web Application Developmnet
 Summer 2021 Group 6
 Mighty Bunch

 Developers: 
 Sarabun Tohura - 300685525
 Yerim Cho - 301143325
 Mohammed Husain - 301149144
 Mostafa Asaad - 301173762
 Chaehyun Lee - 301084271
 Viktoriia Romaniuk - 301079072

 Web App Name : Migthy Survey
 Description : Users can create new survey. 
 There are two types of surveys, True or False / Scale.
 Only logged-in users can answer the survey,
 and only the creator of survey can edit / delte the survey. 
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
<main class="container" style="background-color: cornsilk;">
    <div class ="container-fluid">
        <div class="row">
            <div class="offset-md-1 col-md-11 text-center">
                <h1 style="color: white; margin-top: 50px; margin-bottom: 50px;"><%= title %></h1>
                
            
                <div class="container">
                    <div class="row">
                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <% if(typeof userId=='string' && userId ) {%>
                        <% if ( today >= SurveyList[count].startdate && today <= SurveyList[count].enddate) {%>
                            <div class="col-6">    
                                    <div class="card text-center popup" style="background-color: transparent; margin-bottom: 75px;" class="d-flex">
                                        <div class="card-header  text-muted" style="color:white; font-family: Courier; font-size:120%;"></div>
                                        <div class="card-body" style="border-radius: 15px 50px; background-color: #1663be;   cursor: pointer; cursor: hand;" onclick="window.location='/survey-list/survey/<%= SurveyList[count]._id %>';">
                                            <h4 style="color: white;" class="card-title"><%= SurveyList[count].title %></h4>
                                        </div>
                                        <div class="card-footer text-muted"  style=" color:white; font-family: Courier;  font-size:120%;">
                                        Available until: <%= SurveyList[count].enddate.toISOString().split('T')[0] %>
                                        </div>
                                    </div>
                                </div>
                    <% } } else { %>
                    
                            <% if ( today >= SurveyList[count].startdate && today <= SurveyList[count].enddate) {%>
                                <div class="col-6">    
                                    <div class="card text-center popup" style="background-color: transparent; margin-bottom: 75px;" class="d-flex">
                                        <div class="card-header  text-muted" style=" color:white; font-family: Courier; font-size:120%;"></div>
                                        <div class="card-body" style="border-radius: 15px 50px; background-color: #1663be; cursor: pointer; cursor: hand;"  onclick="window.location='/login/';">
                                            <h4 style="color: white;" class="card-title"><%= SurveyList[count].title %></h4>
                                            <p  class="card-text">Login to participate in this survey</p>
                                        </div>
                                        <div class="card-footer text-muted"  style=" color:white; font-family: Courier;  font-size:120%;">
                                        Available until: <%= SurveyList[count].enddate.toISOString().split('T')[0] %>
                                        </div>
                                    </div>
                                </div>    
                            <% } %>
                        
                    <% } } %>
                    </div>
                        </div>
            </div>
        </div>
    </div>
</main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





