<!-- 
 File Name : register.ejs
 COMP228 - Web Application Developmnet
 Summer 2021 Group 6
 Mighty Bunch

 Developers: 
 Sarabun Tohura - 300685525
 Yerim Cho - 301143325
 Mohammed Husain - 301149144
 Mostafa Asaad - 301173762
 Chaehyun Lee - 301084271
 Viktoriia Romaniuk - 301079072

 Web App Name : Migthy Survey
 Description : Users can create new survey. 
 There are two types of surveys, True or False / Scale.
 Only logged-in users can answer the survey,
 and only the creator of survey can edit / delte the survey. 
-->


<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container" style="background-color: cornsilk;">
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>

            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    id="username"
                    placeholder="Enter username"
                    name="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    id="password"
                    placeholder="Enter password"
                    name="password" required>                    
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control"
                    id="email"
                    placeholder="Enter Email Address"
                    name="email" required>                    
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control"
                    id="displayName"
                    placeholder="Enter Display Name"
                    name="displayName" required>                    
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Register</button>                    
                    <a href="/">
                         <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>